# Documents
/docs/_*
/docs/*.log

# Cache
*__pycache__*

# Debug logs
**/debug/*

# Builds
/build/*
/dist/*
*egg-info*

# Settings
/setup.cfg

# Star catalogue
/BSC5*

# Databases except the default and astroforge databases
*.npz
!**/default_database.npz
!**/tycho_fov4-6_mag9.npz
!**/tycho_fov71-73_mag9.npz

# Virtual environments
.venv/


.DS_Store
